<div class="row" ng-controller="DynoCtrl">
  <div class="col-md-3" ng-repeat="dyno in dynos">
    <div class="panel dyno-panel {{dyno.state}}">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{dyno.name}}
        </h3>
        <span class="badge pull-right">{{dyno.size}}</span>
      </div>
      <div class="panel-body">
        <span class="dyno-icon" dyno-type-icon></span>
        <p class="dyno-msg" dyno-status-message></p>
      </div>
    </div>
  </div>
</div>
