<div class="row" ng-controller="DynoCtrl">
  <div class="col-md-3" ng-repeat="dyno in dynos">
    <div class="panel dyno-panel {{dyno.state}}">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{dyno.name}}
          <span class="badge pull-right">{{dyno.size}}</span>
        </h3>
      </div>
      <div class="panel-body">
        <span class="dyno-icon">
          <i class="fa {{dynoIconClass(dyno.type)}}"></i>
        </span>
        <p class="dyno-msg">
          {{dynoMessage(dyno)}}
        </p>
      </div>
    </div>
  </div>
</div>
